<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <queries><intent><action android:name="android.speech.RecognitionService" /></intent></queries>
    <application android:name=".MailPilotApp" android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:label="MailPilot"
        android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true" android:theme="@style/Theme.MailPilot" android:usesCleartextTraffic="false">
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/Theme.MailPilot" />
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.files" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
